.desc_container {
    width: 100%;
    height: 500px;
    border: 1px solid purple;
    margin-top: 130px;
}

#desc_col1 {
    border: 1px solid rosybrown;
    height: 500px;
}

.desc_content_1 {
    width: 90%;
    height: 20rem;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    background-color: seagreen;
    position: absolute;
    transform: translate(0%, 30%);
}
