.subscribe_container {
  width: 100%;
  height: 700px;
  border: 1px solid blue;
  padding: 7%;
  background-image: linear-gradient(to bottom   , #f1fefe, #ffffff);
  top: 10px;
  transform: translate(0%, 0%);
}

.sub_title {
    color: #004d77;
    font-weight: bold;
    font-size: 2rem;
}

.sub_title_2 {
    color: #2482b4;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;
}

.sub_form {
    width: 65%;
    height: 90%;
    background-color: #ffffff;
    transform: translate(25%, 0%);
    margin-top: 2rem;
    border-radius: 20px;
    padding-top: 45px;
    box-shadow: 0px 8px 15px gray;
}

input {
    font-size: 20px;
    width: 75%;
    height: 40px;
    margin-top: 30px;
    border: none;
    outline: none;
}

input[type=text] {
    padding: 15px;
    font-family: "Century Gothic";
    border-bottom: 2px solid #b4b3b3;
}

.sub_btn {
    color: #58bc97;
    border: 1px solid #58bc97;
    margin-top: 4rem;
    width: 25%;
    height: 50px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    background: none;
}

.sub_btn:hover {
    border: none;
    background-image: linear-gradient(to right, #58bc97, #91cf90);
    color: #ffffff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sub_btn:focus {
    outline: none;
}

.sub_form > p {
    position: absolute;
    width: 60%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 75px;
    text-align: center;
    font-family: "Century Gothic";
    transform: translate(35%, 20%);
}