.headert_container {
  width: 100%;
  height: 950px;
  top: 10px;
  transform: translate(0%, 0%);
  overflow: hidden;
}

.header_img {
  width: 40px;
  height: 40px;
}

.header_label {
  background-image: linear-gradient(to right, #58bc97, #91cf90);
  color: #fff;
  font-family: "Century Gothic";
  width: 450px;
  height: 60px;
  font-size: 1.5em;
}

.label {
  padding: 10px;
  letter-spacing: 4px;
}

.header_content {
  width: 720px;
  height: auto;
  padding: 30px;
  text-align: left;
  background-image: linear-gradient(to top, #f1fefe, #ffffff);
}

.header_heading {
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 2.7em;
  color: rgb(1, 154, 153);
  width: 80%;
  height: auto;
  margin-right: 50px;
}

.header_text {
  font-size: 1.3em;
}

#p1 {
  letter-spacing: 1px;
  font-family: "Calibri Light";
  width: 70%;
}

#p2 {
  letter-spacing: 1px;
  font-family: "Calibri Light";
  width: 85%;
}

.header_container {
  background-color: rgb(197, 249, 237);
  width: 1000px;
  height: 1000px;
  top: 60%;
  left: 90%;
  border-radius: 50%;
  transform: translate(60%, -15%);
}

.header_logo {
  margin-right: 90px;
  margin-top: 150px;
}

#btn1,
#btn2 {
  color: #58bc97;
  font-size: 1em;
  border: 1px solid #58bc97;
  width: 20%;
  padding: 20px;
  margin: 15px;
  text-transform: uppercase;
  border-radius: 50px;
  background: none;
  cursor: pointer;
}

#btn1:hover,
#btn2:hover {
  background-image: linear-gradient(to right, #58bc97, #91cf90);
  color: #ffffff;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

#btn1:focus,
#btn2:focus {
  outline: none;
}

.span {
  font-size: 1.1em;
}
