.tracking_container {
  width: 100%;
  height: auto;
  top: 10px; 
  transform: translate(0%, 0%);
}

.tracking_headline {
  color: #004d77;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

.tracking_label {
  background-image: linear-gradient(to right, #58bc97, #91cf90);
  color: #fff;
  font-family: "Century Gothic";
  width: 300px;
  height: 60px;
  font-size: 1.5em;
}

.tracking_title {
  color: #004d77;
  font-weight: bold;
  font-size: 2.6rem;
}

.tracking_rows {
  width: 90%;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 5%;
}


.tracking_card {
  height: 430px;
  margin: 15px;
  padding-top: 30px;
  transition: all 1s ease-in-out;
}

.tracking_card:hover {
  box-shadow: 0px 0px 8px 1px #58bc97;
}

.tracking_icon {
  font-size: 8rem;
  color: rgb(99, 192, 152);
  margin-top: 1000px;
}

.tracking_title_2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #000000;
}

.tracking_card > p {
  font-size: 1.1rem;
  margin-top: 25px;
}