.otracking_container {
  margin-top: 550px;
  width: 100%;
  height: 650px;
  top: 10px; 
  transform: translate(0%, 0%);
}

.otracking_headline {
  color: #004d77;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

.otracking_label {
  background-image: linear-gradient(to right, #58bc97, #91cf90);
  color: #fff;
  font-family: "Century Gothic";
  width: 300px;
  height: 60px;
  font-size: 1.5em;
}

.otracking_title {
  color: #004d77;
  font-weight: bold;
  font-size: 2.6rem;
}

.otracking_rows {
  border: 1px solid red;
  width: 90%;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 5%;
}

/* .ocards {
  background-color: grey;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, 50%);
  -webkit-transform: translate(-50%, -50%); 
} */

.otracking_card {
  height: 430px;
  margin: 15px;
  padding-top: 30px;
  transition: all 1s ease-in-out;
}

.otracking_card:hover {
  box-shadow: 0px 2px 9px 0px rgb(20, 20, 20);
}

.otracking_icon {
  font-size: 8rem;
  color: rgb(99, 192, 152);
  margin-top: 1000px;
}

.otracking_title_2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #000000;
}

.otracking_card > p {
  font-size: 1.1rem;
  margin-top: 25px;
}